.container{
  background-color: #e5e500;
}

#article_img{
  width: 100%;
  border: 1px solid black;
}


#article_bar{
  position: inline;
  background-color: pink;
  border: 1px solid black;
}

#pages{
  padding: 10px;
}

.navbar{
  margin: 0;
}

#modal_text{
  text-align: center;
}
